#clockface {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 1em solid rgb(180, 66, 66);
  background-color: rgb(236, 214, 214);
  display: flex;
  align-items: center;
}

.clock {
  display: flex;
  justify-content: center;
}

.hand {
  width: 200px;
  height: 10px;
  background:black;
  position: absolute;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  border-radius: 50%;
}

.hand.second {
  background-color: rgb(248, 71, 71);
  height: 5px;
}

.hand.minute {
  background-color: black;  
}

.hand.hour {
  background-color: black;
  width: 170px;
  right: 50%;
}
.center {
  width: 7%;
  height: 7%;
  transform: translateX(24ch);
  border-radius: 50%;
  z-index: 1;
  background-color: rgb(99, 18, 18);
}

.time {
  text-align: center;
  font-size: 10vw;
}
body {
  background: rgb(214, 143, 102);
}
