#clockface {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 1em solid rgb(180, 66, 66);
  background-color: rgb(236, 214, 214);
  display: flex;
  align-items: center;
}

.hand {
  width: 200px;
  height: 10px;
  background:black;
  position: absolute;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
}

.hand.second {
  background-color: brown;
  height: 5px;
}
.hand.minute {
  background-color: rgb(42, 61, 165);
  width: 160px;
}
.hand.hour {
  background-color: rgb(55, 97, 68);
}

body {
  background: rgb(214, 143, 102);
}
